body {
  background-color: white;
}

p {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 500;
}

/* The container and all elements within */

 .container {
   font-size: 40px;
   min-height: 300px;
   width: 100%;
   background: LightGray;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: .25fr .1fr .3fr 1fr 1fr .25fr;
   grid-gap: 10px;
   grid-template-areas:
     "title-bar title-bar title-bar"
     "nav-bar nav-bar nav-bar"
     "content5 content3 content6"
     "content2 logo-area content4"
     "content7 content8 content9"
     "footer footer footer";
 }


 #title-bar  {
   background:white;
   grid-area: title-bar;
   display: flex;
   align-items: center;
   justify-content: center;
 }

#title-text {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}


#nav-bar {
  background: white;
  grid-area: nav-bar;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-button {
  background: black;
  color: white;
}



#logo-area {
  grid-area; logo-image;
}


#logo-image {
  max-width:100%;
  max-height:100%;
}


 #footer-bar {
   background: PaleGreen;
   grid-area: footer;
 }



 .item2 {
   background:LightSalmon;
   grid-area: content2;
 }

 .item3 {
   background:white;
   grid-area: content3;
 }

 .item4 {
   background:LightSalmon;
   grid-area: content4;
 }

 .item5 {
   background:LightSalmon;
   grid-area: content5;
 }

  .item6 {
    background:LightSalmon;
    grid-area: content6;
  }

  .item7 {
    background:LightSalmon;
    grid-area: content7;
  }

  .item8 {
    background:LightSalmon;
    grid-area: content8;
  }

  .item9 {
    background:LightSalmon;
    grid-area: content9;
  }
