body {
  background-color: white;
}

p {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 300;
}

h3 {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 500;
}

#title-text {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}


#title-bar  {
  background:LightSkyBlue;
  grid-area: title-bar;
}


 .item2 {
   background:LightSalmon;
   grid-area: content2;
 }

 .item3 {
   background:LightSalmon;
   grid-area: content3;
 }

 .item4 {
   background:LightSalmon;
   grid-area: content4;
 }

 .item5 {
   background:LightSalmon;
   grid-area: content5;
 }


 #logo-area {
   grid-area; logo-image;
 }


 #logo-image {
   max-width:100%;
   max-height:100%;
 }


  .item6 {
    background:LightSalmon;
    grid-area: content6;
  }

  .item7 {
    background:LightSalmon;
    grid-area: content7;
  }

  .item8 {
    background:LightSalmon;
    grid-area: content8;
  }

  .item9 {
    background:LightSalmon;
    grid-area: content9;
  }

 #footer-bar {
   background: PaleGreen;
   grid-area: footer;
 }

 .container {
   font-size: 40px;
   min-height: 300px;
   width: 100%;
   background: LightGray;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: .5fr 1fr 1fr 1fr .25fr;
   grid-gap: 10px;
   grid-template-areas:
     "title-bar title-bar title-bar"
     "content2 content3 content4"
     "content5 logo-area content6"
     "content7 content8 content9"
     "footer footer footer";
 }
