body {
  background-color: white;
}

p {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 300;
}

#title-text {
  font-family: questa-grande, serif;
  font-style: normal;
  font-weight: 300;
}
